* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
img {
	max-width: 100%;
}
body {
	color: #333333;
	font-family: Helvetica, Arial, Sans-Serif;
	margin: 0;
}
.container {
	margin: 0 auto;
	max-width: 1280px;
	overflow: hidden;
}
header {
	background-color: #f2f2f2;
	overflow: hidden;
	padding: 15px;
}
header .logo {
	float: left;
	max-width: 200px;
	width: 100%;
}
header .exibe-nome {
	color: #666;
	display: inline-block;
	margin: 25px 15px 0;
}
header .exibe-nome a {
	color: #ff6c00;
	text-decoration: none;
}
header .exibe-nome a:hover {
	color: #333;
}
header .menu {
	float: right;
	padding-top: 25px;
}
header .menu a {
	background-color: #cccccc;
	border-radius: 5px;
	color: #333333;
	text-decoration: none;
	transition: all .3s ease-in-out;
	padding: 10px 15px;
}
header .menu a:hover {
	background-color: #333333;
	color: #ffffff;
}
header .menu a.ativo {
	background-color: #FF6C00;
	color: #ffffff;
}
.slider {
	display: block;
	margin: 0 auto 30px;
	padding-left: 0;
}
.slider li {
	list-style: none;
}
body.home {

}
body.home .beneficios {
	display: block;
	margin: 30px auto;
}
body.home .beneficios img {
	background-color: #333333;
	float: left;
	transition: all .3s ease-in-out;
	width: 25%;
}
body.home .beneficios img:hover {
	cursor: pointer;
	opacity: 0.75;
}
.link-portfolio,
.link-contato,
.link-sobre-nos {
	display: block;
	float: left;
	margin: 30px auto;
	text-align: center;
	position: relative;
	width: 50%;
}
.link-portfolio a,
.link-contato a,
.link-sobre-nos a {
	background-color: #fff;
	border: 1px solid #ccc;
	color: #666666;
	display: block;
	font-size: 20px;
	min-height: 50px;
	padding: 70px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: all .2s ease-in-out;
}
.link-portfolio a:hover,
.link-contato a:hover,
.link-sobre-nos a:hover {
	background-color: #f1f1f1;
}

/* Contato */
body.contato .conteudo {
	text-align: center;
	padding: 30px 0;
}
body.contato .conteudo form {
	margin: 0 auto;
	max-width: 768px;
}
body.contato .conteudo form label {
	display: block;
}
body.contato .conteudo form input[type="text"],
body.contato .conteudo form input[type="email"],
body.contato .conteudo form input[type="tel"],
body.contato .conteudo form textarea {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
}
body.contato .conteudo form input[type="text"]#mensagem {
	min-height: 100px;
}
body.contato .conteudo form input[type="submit"] {
	background-color: #cccccc;
	border: 0;
    border-radius: 5px;
    color: #333333;
    font-size: 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 10px 15px;
}
body.contato .conteudo form input[type="submit"]:hover {
	background-color: #FF6C00;
    color: #ffffff;
	cursor: pointer;
}

/* Cadastro */
body.cadastro .conteudo {
	text-align: center;
	padding: 30px 0;
}
body.cadastro .conteudo form {
	margin: 0 auto;
	max-width: 768px;
}
body.cadastro .conteudo form label {
	display: block;
	text-align: left;
}
body.cadastro .conteudo form input[type="text"],
body.cadastro .conteudo form input[type="email"],
body.cadastro .conteudo form input[type="password"] {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
}
body.cadastro .conteudo form input[type="text"]#mensagem {
	min-height: 100px;
}
body.cadastro .conteudo form input[type="submit"] {
	background-color: #cccccc;
	border: 0;
    border-radius: 5px;
    color: #333333;
    font-size: 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 10px 15px;
}
body.cadastro .conteudo form input[type="submit"]:hover {
	background-color: #FF6C00;
    color: #ffffff;
	cursor: pointer;
}
/* Login */
body.login .conteudo {
	text-align: center;
	padding: 30px 0;
}
body.login .conteudo form {
	margin: 0 auto;
	max-width: 768px;
}
body.login .conteudo form label {
	display: block;
	text-align: left;
}
body.login .conteudo form input[type="text"],
body.login .conteudo form input[type="email"],
body.login .conteudo form input[type="password"] {
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	width: 100%;
}
body.login .conteudo form input[type="text"]#mensagem {
	min-height: 100px;
}
body.login .conteudo form input[type="submit"] {
	background-color: #cccccc;
	border: 0;
    border-radius: 5px;
    color: #333333;
    font-size: 15px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding: 10px 15px;
}
body.login .conteudo form input[type="submit"]:hover {
	background-color: #FF6C00;
    color: #ffffff;
	cursor: pointer;
}

/* Portfólio */
body.portfolio .conteudo .lista-portfolio img {
	background-color: #333333;
	float: left;
	transition: all .3s ease-in-out;
	width: 25%;
}

/* Rodapé */
footer {
	background-color: #f2f2f2;
	overflow: hidden;
	padding: 15px;
}
footer .logo {
	float: left;
	margin: 70px auto 15px;
	padding: 0 15px;
	width: 20%;
}
footer .menu {
	float: left;
	padding-left: 30px;
	width: 15%;
}
footer .menu a {
	background-color: #cccccc;
	border-radius: 5px;
	color: #333333;
	display: table;
	margin: 15px 0 0;
	overflow: hidden;
	text-decoration: none;
	transition: all .3s ease-in-out;
	padding: 8px 15px;
}
footer .menu a:hover {
	background-color: #333333;
	color: #ffffff;
}
footer .menu a.ativo {
	background-color: #FF6C00;
	color: #ffffff;
}
footer .infos {
	float: left;
	padding: 0 15px;
	width: 25%;
}
footer .infos p {
	text-align: left;
	margin-top: 75px;
}
footer .mapa {
	float: right;
	margin: 15px auto;
	width: 40%;
}
footer p {
	display: block;
	text-align: center;
}
/* Responsive max 1024px */
@media ( max-width: 1024px ) {
	.container.conteudo {
		padding: 0 15px;
	}
	.container.conteudo p {
	}


}
/* Responsive max 768px */
@media ( max-width: 768px ) {
	header .logo {
		display: block;
		float: none;
		margin: 0 auto;
		max-width: 250px;
	}
	header .menu {
		clear: both;
		float: none;
		text-align: center;
		width: 100%;
	}
	header .menu a {
		display: inline-block;
	}
	.slider {
		margin-bottom: 0;
	}
	body.contato .conteudo {
		padding: 30px 15px;
	}
	footer .menu {
		display: block;
		float: none;
		padding: 0 15px;
		text-align: center;
		width: 100%;
	}
	footer .menu a {
		display: inline-block;
		padding: 10px;
	}
	footer .logo {
		display: none;
	}
	footer .infos {
		display: block;
		float: none;
		width: 100%;
	}
	footer .infos p {
		text-align: center;
	}
	footer .mapa {
		display: block;
		float: none;
		text-align: center;
		width: 100%;
	}
}
/* Responsive max 520px */
@media ( max-width: 520px ) {
	header .menu a {
		padding: 10px 10px;
	}
	body.home .beneficios {
		clear: both;
		margin-bottom: 15px;
		overflow: hidden;
	}
	.link-portfolio,
	.link-contato,
	.link-sobre-nos {
		float: none;
		margin: 15px auto;
		width: 100%;
	}
	.link-portfolio a,
	.link-contato a,
	.link-sobre-nos a {
		padding-bottom: 30px;
		padding-top: 30px;
	}
	body.portfolio .conteudo .lista-portfolio {
		overflow: hidden;
	}
	body.portfolio .conteudo .lista-portfolio img {
		width: 50%;
	}
}

/* Responsive max 360px */
@media ( max-width: 360px ) {
	header .menu a,
	footer .menu a {
		font-size: 13px;
		padding: 8px;
	}
}

/* Bootstrap */
.alert-warning {
    background-color: #fcf8e3;
    border-color: #faf2cc;
    color: #8a6d3b;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d0e9c6;
    color: #3c763d;
}
.alert {
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.container.alert {
	max-width: 768px;
}